@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-40px) rotate(20deg);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.3;
  }
}

.animate-float {
  animation: float infinite ease-in-out;
}
